.overview{
    background-image: linear-gradient(#C7A4F4, #BB91F2);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title-overview {
    font-family: "Playwrite AU QLD", cursive;
    color: #592E83;
}
.content-overview {
    margin-top: 50px;
    color: #592E83;
    font-family: "Playpen Sans", cursive;
    font-size: larger;
    scroll-margin-top: 100px;
}