.projects {
    background: linear-gradient(#9A5BEC, #8E48EA);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-family: "Playwrite AU QLD", cursive;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.projects-description {
    margin-top: 50px;
    color: white;
    font-family: "Playpen Sans", cursive;
    font-size: larger;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.projects-list {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 20px auto 0;
}